@import '../../../../resources/styles/bootstrap-variables';

div.search-popup {
  margin-top: 1px;
  padding-left: 0;
  z-index: 999 !important;
}

div.search-popup-row,
div.search-popup-row-active {
  position: relative;
  display: block;
  padding: 10px 15px;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -1px;
  background-color: $list-group-bg;
  border: 1px solid $list-group-border;
  cursor: pointer;
}

div.search-popup-row-active {
  background: $brand-primary;
  color: #fff;
}

div.search-popup-el-cnt,
div.search-popup-el-name {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: left;
}

div.search-popup-el-cnt {
  text-align: right;
  float: right;
}
