.landing__social {
    text-align: center;

    .ya-share2__badge {
        border-radius: 50%;
        padding: 3px;
    }

    .ya-share2__container_size_m .ya-share2__icon {
        height: 32px;
        width: 32px;
    }
}
