@import 'header/icon';
@import 'header/logo';
@import 'header/ask';
@import 'header/phone';
@import 'header/contacts';
@import 'header/socials';
@import 'header/fly';
@import 'header/topline';
@import 'header/location';

@import 'footer/contacts';
@import 'footer/socials';
@import 'footer/menu';
@import 'footer/age-limit';

@import 'catalog/catalog';

@import 'map/contacts';
@import 'map/google';

@import 'sidebar/nav';
@import 'sidebar/buttons';
@import 'sidebar/information';
@import 'sidebar/map';
@import 'sidebar/note';

@import 'cart/cart-head';
@import 'cart/cart-empty';
@import 'cart/cart';

@import 'sale/location';
@import 'sale/sls';
@import 'sale/soa';

@import 'back';
@import 'carousel';
@import 'comment';
@import 'mini_banners';
@import 'tile';
@import 'forms';
@import 'doc';
@import 'community_widget';
@import 'partners';
@import 'gallery_slider';
@import 'error';


.b-note-text {
  color: $gray-max;
  margin-bottom: 30px;
  max-width: 560px;
  font-size: $font-size-small;
}
