.b-order {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .b-order {
      padding-right: 250px; } }

.b-order-cart {
  position: relative;
  margin-bottom: 20px; }
  .b-order-cart__note {
    padding: 15px 0;
    color: #676d72; }
  .b-order-cart__table {
    max-width: 100%;
    overflow: auto; }
  @media (min-width: 992px) {
    .b-order-cart__note {
      position: absolute;
      left: 100%;
      top: 0;
      width: 250px;
      padding: 60px 0 0 60px;
      font-size: 0.85714em; }
    .b-order-cart__note:before {
      content: "";
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMTggMjAiPiAgPGRlZnM+ICAgIDxzdHlsZT4gICAgICAuY2xzLTEgeyAgICAgICAgc3Ryb2tlOiAjZmYzNjAwOyAgICAgICAgc3Ryb2tlLXdpZHRoOiAxcHg7ICAgICAgICBmaWxsOiBub25lOyAgICAgICAgZmlsbC1ydWxlOiBldmVub2RkOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDxwYXRoIGQ9Ik04LjAwMCwxLjAwMCBMMi4wMDAsMi4wMDAgTDIuNTI4LDguMjgyICIgY2xhc3M9ImNscy0xIi8+ICA8cGF0aCBkPSJNMy42NTgsMi4zMDUgQzMuNjU4LDIuMzA1IDE3LjM3MSw4LjIxOCAxNy4zNTUsMjAuMTIwICIgY2xhc3M9ImNscy0xIi8+PC9zdmc+");
      background-repeat: no-repeat;
      position: absolute;
      background-position: center;
      width: 18px;
      height: 20px;
      top: 30px;
      left: 55px; } }

.b-order-form {
  position: relative; }
  .b-order-form__label {
    display: block;
    font-weight: 400; }
  .b-order-form__note {
    color: #676d72; }
  .b-order-form__note, .b-order-form__note-req {
    padding: 15px 0; }
  .b-order-form__foot {
    text-align: right; }
  .b-order-form__confirm {
    display: inline-block;
    vertical-align: middle;
    max-width: 215px;
    padding: 5px 0; }
  .b-order-form__confirm + .btn {
    margin-left: 35px; }
  .b-order-form__confirm label {
    font-weight: 400;
    text-align: left; }
  .b-order-form .required {
    color: #d9534f; }
  .b-order-form .form-control {
    margin-top: 7px; }
  @media (min-width: 992px) {
    .b-order-form__note {
      position: absolute;
      left: 100%;
      top: 0;
      width: 250px;
      padding: 5px 0 0 60px;
      font-size: 0.85714em; }
    .b-order-form__note:before {
      content: "";
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMTggMjAiPiAgPGRlZnM+ICAgIDxzdHlsZT4gICAgICAuY2xzLTEgeyAgICAgICAgc3Ryb2tlOiAjZmYzNjAwOyAgICAgICAgc3Ryb2tlLXdpZHRoOiAxcHg7ICAgICAgICBmaWxsOiBub25lOyAgICAgICAgZmlsbC1ydWxlOiBldmVub2RkOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDxwYXRoIGQ9Ik03LjA2MCwyMC4xNTIgTDEuMDU3LDE5LjE2OSBMMS41NjYsMTIuODg2ICIgY2xhc3M9ImNscy0xIi8+ICA8cGF0aCBkPSJNMi43MTMsMTguODYwIEMyLjcxMywxOC44NjAgMTYuNDEwLDEyLjkwNyAxNi4zNTksMS4wMDUgIiBjbGFzcz0iY2xzLTEiLz48L3N2Zz4=");
      background-repeat: no-repeat;
      position: absolute;
      background-position: center;
      width: 18px;
      height: 20px;
      bottom: -30px;
      left: 55px; } }

.b-order-cart-table {
  border: 1px solid #ddd;
  width: 100%; }
  .b-order-cart-table td {
    border-bottom: 1px solid #ddd;
    padding: 20px 30px;
    vertical-align: middle;
    height: 100px; }
  .b-order-cart-table__index-cell, .b-order-cart-table__price-cell, .b-order-cart-table__sum-cell {
    font-weight: bold; }
  .b-order-cart-table__price-cell, .b-order-cart-table__quantity-cell, .b-order-cart-table__sum-cell {
    white-space: nowrap; }
  .b-order-cart-table__name-link {
    font-size: 0.85714em;
    color: #676d72; }
    .b-order-cart-table__name-link:active, .b-order-cart-table__name-link:focus, .b-order-cart-table__name-link:hover {
      color: #676d72; }

/*# sourceMappingURL=style.css.map */
