body.ff_pt_sans {
  font-family: 'PT Sans', sans-serif;
}

body.ff_roboto {
  font-family: 'Roboto', sans-serif;
}

body.fs_small {
  &,
  .product-item-title,
  .tile__name {
    font-size: 13px;
  }
}

html.fs_14px {
  &,
  body,
  .product-item-title,
  .tile__name {
    font-size: 14px;
  }
}

body.fs_big {
  &,
  .product-item-title,
  .tile__name {
    font-size: 15px;
  }
}
