.icon-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  fill-rule: evenodd;
  marign-bottom: -0.0555556em;
  vertical-align: middle;
}

.icon-svg-alarm {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-align-center {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-align-justify {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-align-left {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-align-right {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-anchor {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-archive {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-arrow-down {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-arrow-left {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-arrow-right {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-arrow-thin-down {
  font-size:(28/10)*1rem;
  width:(28/28)*1em;
}
.icon-svg-arrow-thin-left {
  font-size:(28/10)*1rem;
  width:(28/28)*1em;
}
.icon-svg-arrow-thin-right {
  font-size:(28/10)*1rem;
  width:(28/28)*1em;
}
.icon-svg-arrow-thin-up {
  font-size:(28/10)*1rem;
  width:(28/28)*1em;
}
.icon-svg-arrow-up {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-article {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-available {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-backspace {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-basket {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-basketball {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-battery-empty {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-battery-full {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-battery-low {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-battery-medium {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-bell {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-blog {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-bluetooth {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-bold {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-bookmark {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-bookmarks {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-box {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-briefcase {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-brightness-low {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-brightness-max {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-brightness-medium {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-broadcast {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-browser {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-browser-upload {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-brush {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-calendar {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-camcorder {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-camera {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-card {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-cart {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-cart-main {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-checklist {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-checkmark {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-chevron-down {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-chevron-left {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-chevron-right {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-chevron-up {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-clipboard {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-clock {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-clockwise {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-cloud {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-cloud-download {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-cloud-upload {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-code {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-compare-main {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-contract {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-contract-2 {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-conversation {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-copy {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-crop {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-cross {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-crosshair {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-cutlery {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-delay {
  font-size:(11/10)*1rem;
  width:(11/11)*1em;
}
.icon-svg-device-desktop {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-device-mobile {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-device-tablet {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-direction {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-disc {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-document {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-document-delete {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-document-edit {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-document-new {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-document-remove {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-dot {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-dots-2 {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-dots-3 {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-download {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-duplicate {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-enter {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-exit {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-expand {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-expand-2 {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-experiment {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-export {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-facebook {
  font-size:(21/10)*1rem;
  width:(10/21)*1em;
}
.icon-svg-favorite-main {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-feed {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-flag {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-flashlight {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-folder {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-folder-max {
  font-size:(42/10)*1rem;
  width:(46/42)*1em;
}
.icon-svg-folder-open {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-forward {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-gaming {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-gear {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-gift {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-svg-google-plus {
  font-size:(21/10)*1rem;
  width:(20/21)*1em;
}
.icon-svg-graduation {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-graph-bar {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-graph-line {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-graph-pie {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-headset {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-heart {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-help {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-home {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-hourglass {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-inbox {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-information {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-instagram {
  font-size:(21/10)*1rem;
  width:(20/21)*1em;
}
.icon-svg-italic {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-jewel {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-lifting {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-lightbulb {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-link {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-link-broken {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-list {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-loading {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-location {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-location-main {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-lock {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-lock-main {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-lock-open {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-mail {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-map {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-media-loop {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-media-next {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-media-pause {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-media-play {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-media-previous {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-media-record {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-media-shuffle {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-media-stop {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-medical {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-menu {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-message {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-meter {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-microphone {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-minus {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-monitor {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-move {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-music {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-network-1 {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-network-2 {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-network-3 {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-network-4 {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-network-5 {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-not-available {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-ok {
  font-size:(21/10)*1rem;
  width:(12/21)*1em;
}
.icon-svg-pamphlet {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-paperclip {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-pencil {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-phone {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-photo {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-photo-group {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-pill {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-pin {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-plus {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-power {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-preview {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-print {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-pulse {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-question {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-reply {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-reply-all {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-return {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-retweet {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-rocket {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-scale {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-search {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-settings {
  font-size:(478.7/10)*1rem;
  width:(478.7/478.7)*1em;
}
.icon-svg-share {
  font-size:(21/10)*1rem;
  width:(18/21)*1em;
}
.icon-svg-shopping-bag {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-skip {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-spinner {
  font-size:(38/10)*1rem;
  width:(38/38)*1em;
}
.icon-svg-stack {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-star {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-star-fill {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-stopwatch {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-store {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-suitcase {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-swap {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-tag {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-tag-delete {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-tags {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-thumbs-down {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-thumbs-up {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-ticket {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-time-reverse {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-to-do {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-toggles {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-trash {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-trophy {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-twitter {
  font-size:(17/10)*1rem;
  width:(20/17)*1em;
}
.icon-svg-upload {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-user {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-user-group {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-user-id {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-user-main {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-vibrate {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-vid-1 {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon-svg-vid-2 {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon-svg-vid-3 {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon-svg-view-apps {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-view-list {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-view-list-large {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-view-thumb {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-vkontakte {
  font-size:(12/10)*1rem;
  width:(20/12)*1em;
}
.icon-svg-volume-full {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-volume-low {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-volume-medium {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-volume-off {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-wallet {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-warning {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-web {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-weight {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-wifi {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-wrong {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-zoom {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-svg-zoom-in {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
.icon-svg-zoom-out {
  font-size:(92/10)*1rem;
  width:(92/92)*1em;
}
