.fancybox-slide .rsform {
  width: 320px;
  max-width: 320px;
}
.fancybox-title {
  font-size: $font-size-h4;
  padding: 15px 35px;
  background-color: $brand-primary;
  min-height: 90px;
  position: relative;
  z-index: 1;
  font-weight: 600;
  // margin: -25px -24px 20px -25px;
  color: #fff;
  display: flex;
  align-items: center;
}

.fancybox-slide--html .fancybox-content {
  padding: 20px 24px;
  width: 100%;
}

.fancybox-slide--html:not(.fullscreen) > div:not(.fancybox-loading) {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  // width: 31.25rem; // 500px
  max-width: 100%;
}

.fancybox-close-small {
  background: transparent;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  transition: all .3s cubic-bezier(.77,0,.2,.85);
}

.fancybox-slide--html .fancybox-close-small {
  color: #fff;
  padding-top: 8px;
  padding-right: 12px;

}

.fancybox-close-small:hover {
  background: transparent;
  transform: scale(.8);
  color: #fff;
}
.fancybox-close-small:focus {
  outline: 0;
}

.fancybox-slide .rsform--crm {
    margin: -25px -24px -24px -25px;
}

@media (max-width: $screen-xs-min) {
  .fancybox-slide .rsform  {
    width: 100%;
    max-width: 100%;
  }
  .fancybox-slide > * {
    top: 0;
    left: 0;
    margin: 0;
    vertical-align: top;
  }
  .fancybox-slide .rsform--crm {
    margin: 0;
  }
}
