$minibanners-bg-color:          $brand-primary !default;
$minibanners-bg-color-hover:    darken($minibanners-bg-color, 10%) !default;

$minibanners-text-color:        #fff !default;
$minibanners-text-color-hover:  $minibanners-text-color !default;

.mini_banner {

  &__inner {
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;

    &:hover {
      text-decoration: none;
    }
  }

  &__inner:hover &__head {
    color: $minibanners-text-color-hover;
    background-color: $minibanners-bg-color-hover;
  }

  &-thumb &__inner:hover &__imgdiv {
    transform: scale(1.15) translateZ(0);
  }
  &-thumb &__inner &__imgdiv:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: .3s;
  }

  &-thumb &__inner:hover &__imgdiv:after {
    background: rgba(0, 0, 0, 0.4);
  }

  &__imgdiv {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    transition: .3s;
    z-index: 1;
    transform: translateY(0);
  }

  &__head {
    transition: all 0.25s ease-in-out;
    z-index: 2;
    position: relative;
  }

  &__head {
    @extend .vcenter;

    background-color: $minibanners-bg-color;
    color: $minibanners-text-color;
    display: block;
    height: 52px;
    padding: 0 $line-height-computed/2;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &-thumb &__head {
    background-color: $gray;
  }

  &-thumb &__inner:hover &__head {
    color: #fff;
    background-color: darken($gray, 10%);
  }

  &__title {
    @extend .vcenter__in;

    font-size: pxtoem($font-size-base);
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: auto;
    overflow: hidden;
    text-overflow: clip;
  }

  &__body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    font-size: pxtoem($font-size-h6);
    justify-content: space-between;
    height: $line-height-computed*7;
    padding: $line-height-computed $line-height-computed/2;
  }

  &__imgdiv &__body {
    bottom: 0;
    font-size: pxtoem($font-size-base);
    justify-content: flex-end;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background 280ms ease, opacity 280ms ease;
  }

  &__descr {
    margin: 0 0 $line-height-computed/2;
    overflow: hidden;
    text-overflow:ellipsis;
  }

  &__imgdiv &__descr {
    color: #fff;
    margin: $line-height-computed/2 0;
  }

   &__imgdiv &__more {

    & > a {
      color: #fff;
      font-size: pxtoem($font-size-h6);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &:hover &__imgdiv &__body {
    background: rgba($gray-base, .6);
    opacity: 1;
  }

}

@media (min-width: $screen-sm-min) {
  .mini_banner {

    &__imgdiv {
      //height: $line-height-computed*10;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .mini_banner {

    &__imgdiv {
      padding-bottom: calc((100% + 4px) * 0.9) ;
    }

    &.col-lg-2-5 &__imgdiv {
      padding-bottom: calc((100% + 4px) * 0.45) ;
    }
  }
}
