.b-ask-question {
  margin: 60px 0;
  position: relative;
  overflow: hidden; }
  .b-ask-question--wide:before, .b-ask-question--wide:after {
    content: '';
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNjAiIGhlaWdodD0iMjc5IiB2aWV3Qm94PSIwIDAgMzYwIDI3OSI+PGRlZnM+ICAgIDxzdHlsZT4gICAgICAuY2xzLTEsIC5jbHMtMiwgLmNscy0zIHsgICAgICAgIGZpbGwtcnVsZTogZXZlbm9kZDsgICAgICB9ICAgICAgLmNscy0xIHsgICAgICAgIG9wYWNpdHk6IDAuMDc7ICAgICAgfSAgICAgIC5jbHMtMiB7ICAgICAgICBvcGFjaXR5OiAwLjA2OyAgICAgIH0gICAgICAuY2xzLTMgeyAgICAgICAgb3BhY2l0eTogMC4wNDsgICAgICB9ICAgIDwvc3R5bGU+ICA8L2RlZnM+ICA8cGF0aCBpZD0iXzEiIGRhdGEtbmFtZT0iMSIgY2xhc3M9ImNscy0xIiBkPSJNMCw2NEwxOTMsMjc5SDBWNjRaIi8+ICA8cGF0aCBpZD0iXzIiIGRhdGEtbmFtZT0iMiIgY2xhc3M9ImNscy0yIiBkPSJNMCwwSDg4TDI2MiwyNzlIMFYwWiIvPiAgPHBhdGggaWQ9Il8zIiBkYXRhLW5hbWU9IjMiIGNsYXNzPSJjbHMtMyIgZD0iTTAsMEgxODlMMzA5LDI3OUgwVjBaIi8+PC9zdmc+");
    height: 100%;
    width: 100%;
    position: absolute;
    -o-background-size: auto 100%;
       background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    top: 0;
    left: 0;
    min-height: 273px; }
  .b-ask-question--wide:after {
    display: none;
    right: 0;
    left: auto;
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg); }
  .b-ask-question__container {
    text-align: center;
    padding: 0 15px;
    position: relative;
    z-index: 2; }
  .b-ask-question__content h4 {
    margin-top: 20px;
    margin-bottom: 10px; }
  .b-ask-question__mark {
    font-size: 30px;
    margin-bottom: 15px;
    color: #7aa104; }
  .b-ask-question__content {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 30px;
    max-width: 380px; }
  .b-ask-question--wide {
    padding: 35px 0 45px 0;
    background: #7aa104;
    color: #fff; }
  .b-ask-question--wide .b-ask-question__mark {
    color: #fff; }
  .b-ask-question--wide .b-ask-question__btns .btn-primary {
    border-color: #fff; }
    .b-ask-question--wide .b-ask-question__btns .btn-primary:hover, .b-ask-question--wide .b-ask-question__btns .btn-primary:active {
      border-color: #546f03; }
  @media (min-width: 768px) {
    .b-ask-question--wide .b-ask-question__mark {
      font-size: 45px; }
    .b-ask-question--wide .b-ask-question__mark,
    .b-ask-question--wide .b-ask-question__btns {
      display: inline-block;
      vertical-align: middle; }
    .b-ask-question--wide .b-ask-question__content {
      text-align: left; }
    .b-ask-question--wide .b-ask-question__content,
    .b-ask-question--wide .b-ask-question__mark,
    .b-ask-question--wide .b-ask-question__btns {
      margin: 0 15px; }
    .b-ask-question--wide .b-ask-question__btns {
      margin: 25px 15px 0 15px; } }
  @media (min-width: 992px) {
    .b-ask-question--wide:after {
      display: block; } }

/*# sourceMappingURL=style.css.map */
