
$product-item-font-size: $font-size-small;

.product-item {
  
  box-sizing: border-box;
  display: block;
  font-size: $product-item-font-size;
  transition: opacity 300ms ease;
  //width: 100%;
  
  &-container {
    background: $body-bg;
    border: 1px solid #e8e8e8;
    // margin: 0 floor(($grid-gutter-width / -4)) $line-height-computed ceil(($grid-gutter-width / -4));
    margin: 0 0 $line-height-computed 0;
    padding: $line-height-computed/2;
    transition: box-shadow .3s;
    
    &:hover {
      box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
    }
  }

  &-image-wrapper {
    display: block;
    padding-top: 82%;
    margin: $line-height-computed/-2 $line-height-computed/-2 $line-height-computed;
    position: relative;
    transition: all 300ms ease;
  }
  
  
  &-image-original {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    display: block;
    height: 100%;
    left:  0;
    position: absolute;
    right: 0;
    top:   0;
    transition: opacity 300ms linear;
    width: 100%;
    z-index: 110;
  }
  
  &-title {
    @extend .text_fade;

    font-size: pxtoem($product-item-font-size, $product-item-font-size);
    font-weight: normal;
    height: $line-height-computed*2;
    margin: 0 0 $line-height-computed/2;
    overflow: hidden;
    
    &:after {
      top: $line-height-computed;
    }
  }

  &-title a {
    color: $gray-max;
    margin-bottom: $line-height-computed/2;
    text-decoration: none;
  }
  
  &-preview-container {
    color: $gray-max;
  }
  
  /*Label*/
  &-label-text {
    display: block;
    position: absolute;
    z-index: 190;
  }
  &-label-text-item > span{
    margin-bottom: 2px;
    color: #fff;
    display: inline-block;
    clear: both;
    background: #F42C2C;
    text-align: center;
    vertical-align: middle;
    transition: all 250ms ease;
  }
  
  &-label-text-item {
    display: block;
    line-height: 0;
  }

  /* TEXT */
  &-label-text-item > span{
    padding: 0 $line-height-computed;
    font-weight: bold;
    line-height: $line-height-base;
    min-width: $line-height-computed*4;
    vertical-align: middle;
  }

  &-label-top   { top: 0; }
  &-line-card  &-label-top   { top: -2px; }
  &-label-center{ left: 50%;
    transform: translateX(-50%);
  }
  &-label-center>div{ text-align: center;}
  &-label-left  { left: $line-height-computed/2;}
  &-label-left>div{ text-align: left;}
  &-label-bottom{ bottom: 0; }
  &-line-card  &-label-bottom{ bottom: -2px; }
  &-label-middle{ top: 50%;
    transform: translateY(-50%);
  }
  &-label-right { right: $line-height-computed/2; }
  &-label-right>div{ text-align: right;}
  &-label-center#{&}-label-middle{
    transform: translateY(-50%) translateX(-50%);
  }
  
  &-big-card &-label-top { top: $line-height-computed/-2; }
  &-big-card &-label-bottom { bottom: $line-height-computed/-2; }
  
  /*Info*/
  &-info-container{ margin-bottom: 8px; }
  
  &-info-container-title {
    font-weight: bold;
    color: #000;
  }
  
  &-price-container &-info-container-title {
    font-weight: normal;
    color: $gray-max;
  }

  /*Price*/
  &-price-container {
    max-height: $product-item-font-size*$line-height-base + $line-height-computed; // title + price
    overflow: hidden;
  }
  
  &-price-current {
    @extend %price-current;
    
    font-size: pxtoem($font-size-base, $product-item-font-size);
  }
  
  &-price-old {
    @extend %price-old;
    
    font-size: pxtoem($font-size-base, $product-item-font-size);
  }

  &-price-total {
    background: #fff5c8;
    color: $gray-max;
    display: inline-block;
    padding: pxtoem($line-height-computed/5) pxtoem($line-height-computed*0.75);
    
    .price-total-value {
      color: $gray-darker
    }
  }
  
  /*scu*/
  &-scu-list {
      
    .btn {
      padding: 7px 8px;
    }
    
    .dropdown-toggle.btn {
      padding-left: 20px;
      padding-right: 34px;
    }
  }
  
  &-scu-item {
    
    &-list {
      @extend .clearfix;
      @extend .list-unstyled;
    }
    
    &-current {
      color: $gray-darker;
    }

    &-color-container,
    &-btn-container {
      float: left;
      margin: 0 $line-height-computed/4 $line-height-computed/4 0;
    }
    
    &-color-container {
      @extend %color-item;
    }
    
    &-color-block {
      @extend %color-item__btn;
    }
    
    &-color {
      @extend %color-item__icon;
    }
    
    &-btn-container {

      &.checked {
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
        color: $btn-primary-color;
      }
      
      &.disabled {
        pointer-events: none;
      }
    }
  }
  
  &-properties {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0;
    
    & > dt {
      color: $gray-max;
      display: inline;
      font-weight: normal;
    }
    
    & > dd {
      color: $gray-base;
      display: inline;
    
      &:after { 
        content: "\0a";
        display: block;
        height: pxtoem($line-height-computed/2);
        white-space: pre; 
      }
    }
  }
  
  &-button-container {
    display: inline;
    font-size: pxtoem($font-size-base, $product-item-font-size);
  }

  &-brand {
    @extend .clearfix;

    color: $gray-max;
    display: flex;
  }
  
  &-brand__canvas {
    margin: auto $line-height-computed/2 auto auto;
    text-align: center;
  }
  
  &-brand__body {
    margin: auto;
  }
  
  &-del {
    color: #e8e8e8;
    display: block;
    font-size: 18px;
    padding: 11px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 210;
    
    & > .icon {
      display: block;
    }
  }

  @media (min-width: $screen-sm-min){
    
    &-line-card &-title {
      font-size: pxtoem($font-size-base, $product-item-font-size);
      height: auto;
      
      &:after {
        display: none;
      }
    }

    &-line-card &-title a {
      color: #000;
      font-weight: bold;
    }
  }

}