%price-current {
  font-weight: bold;
  white-space: nowrap;
  
  &.discount {
    color: #ff3600;
  }
}

%price-old {
  color: #636363;
  white-space: nowrap;
  text-decoration: line-through;
}


%price-economy {
  color: $gray-max;
  white-space: nowrap;
    
  & > span {
    background: #ffd200;
    border-radius: pxtoem($line-height-computed/4);
    color: $gray-darker;
    padding: pxtoem($line-height-computed/5) pxtoem($line-height-computed/2);
  }
}
