.b-vertical-menu {
  border: 0;
  font-size: 14px; }
  .b-vertical-menu .navbar-header {
    border-top: 1px solid #7aa104;
    border-bottom: 1px solid #7aa104; }
  .b-vertical-menu__nav {
    margin-top: 0;
    margin-bottom: 0; }
  .b-vertical-menu__navbar {
    z-index: 999;
    position: absolute;
    width: 100%;
    left: 0;
    background: #7aa104; }
  .b-vertical-menu__toggle {
    float: none;
    text-align: left;
    width: 100%;
    color: #fff;
    margin-right: 0;
    padding: 7px 25px; }
  .b-vertical-menu__toggle-menu {
    vertical-align: middle; }
  .b-vertical-menu__toggle-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px; }
  .b-vertical-menu__nav .open .dropdown-menu > li > a {
    padding: 17px 25px; }
  .b-vertical-menu__nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px; }
  .b-vertical-menu__navbar .b-vertical-menu__nav li > a:active,
  .b-vertical-menu__navbar .b-vertical-menu__nav li > a:focus,
  .b-vertical-menu__navbar .b-vertical-menu__nav li.open > a,
  .b-vertical-menu__navbar .b-vertical-menu__nav li.open > a:active,
  .b-vertical-menu__navbar .b-vertical-menu__nav li.open > a:focus,
  .b-vertical-menu__navbar .b-vertical-menu__nav li.open > a:hover {
    background: #546f03;
    color: #fff;
    border-color: #fff; }
  .b-vertical-menu__nav li a {
    border-top: 1px solid #fff; }
  .b-vertical-menu__plus {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 55px;
    line-height: 55px;
    text-align: center; }
  .b-vertical-menu__plus:before {
    content: "\2b";
    font-family: "FontAwesome";
    font-size: 24px; }
  .open > a > .b-vertical-menu__plus:before {
    content: '\2212'; }
  .b-vertical-menu__nav .b-vertical-menu__more {
    display: none; }
  .b-vertical-menu__more a:after {
    content: "\f111 \f111 \f111";
    font-family: "FontAwesome";
    font-size: 6px;
    letter-spacing: 4px;
    line-height: 12px; }
  @media (min-width: 768px) {
    .b-vertical-menu {
      background: transparent;
      border-right: 0;
      border-left: 0;
      border-bottom: 0; }
      .b-vertical-menu__toggle-menu {
        font-weight: 600;
        text-transform: uppercase; }
      .b-vertical-menu__plus {
        display: none; }
      .b-vertical-menu__toggle {
        width: 100%;
        display: block; }
      .b-vertical-menu .navbar-header {
        float: none;
        background: #7aa104; }
      .b-vertical-menu__toggle-icon {
        float: right;
        margin-top: 5px; }
      .b-vertical-menu__navbar {
        padding: 0;
        position: relative; }
      .b-vertical-menu__navbar.collapse {
        border-top: 1px solid #eeeeee;
        background: transparent; }
      .b-vertical-menu__nav {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #7aa104;
        display: none; }
      .b-vertical-menu .dropdown-menu li > a:hover {
        background: inherit;
        color: #222; }
      .b-vertical-menu__navbar .b-vertical-menu__nav > li > a:hover {
        background: inherit; }
      .b-vertical-menu__nav > li {
        float: none; }
      .b-vertical-menu__nav > li > a,
      .b-vertical-menu .b-vertical-menu__nav .open .dropdown-menu > li > a {
        border: 0; }
      .b-vertical-menu__nav > li > a {
        padding-top: 12.2px;
        padding-bottom: 12.2px;
        text-transform: uppercase;
        font-weight: 600;
        padding-left: 25px;
        padding-right: 25px;
        min-height: 44.44px; }
      .b-vertical-menu .b-vertical-menu__nav .open .dropdown-menu > li > a {
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        padding-right: 50px;
        border-bottom: 1px solid #eeeeee; }
      .b-vertical-menu .dropdown-menu {
        left: 100%;
        top: -1px;
        margin: 0;
        padding: 0;
        border-left: 0;
        border-right: 0;
        min-width: 200px; }
      .b-vertical-menu .dropdown-menu:after,
      .b-vertical-menu .dropdown-menu:before {
        position: absolute;
        content: " ";
        width: 100%;
        height: 20px; }
      .b-vertical-menu .dropdown-menu:after {
        top: -20px; }
      .b-vertical-menu .dropdown-menu:before {
        bottom: -20px; }
      .b-vertical-menu__nav .dropdown > a:after {
        font-size: 15px;
        content: "\f105";
        position: absolute;
        font-weight: 400;
        display: inline-block;
        font-family: FontAwesome;
        margin: auto;
        right: 25px; }
      .b-vertical-menu:hover .b-vertical-menu__nav {
        display: block; }
      .b-vertical-menu:hover .b-vertical-menu__nav {
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
      .is-page-home .b-vertical-menu:hover .b-vertical-menu__navbar.is-more-items .b-vertical-menu__more {
        display: none; } }
  @media (min-width: 992px) {
    .is-page-home .b-vertical-menu__navbar {
      min-height: 400px; }
    .is-page-home .b-vertical-menu__nav {
      min-height: 400px;
      overflow: hidden; }
    .is-page-home .b-vertical-menu__navbar.is-more-items li:nth-child(n + 9) {
      display: none; }
    .is-page-home .b-vertical-menu__navbar.is-more-items li.b-vertical-menu__more {
      display: block; }
    .is-page-home .b-vertical-menu:hover .b-vertical-menu__nav {
      max-height: none;
      overflow: visible; }
    .is-page-home .b-vertical-menu__nav,
    .is-page-home .b-vertical-menu:hover .b-vertical-menu__navbar.is-more-items li {
      display: block; }
    .is-page-home .b-vertical-menu:hover .b-vertical-menu__nav {
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
              box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); } }

/*# sourceMappingURL=style.css.map */
