.dropdown-menu {
  box-shadow: none;
  font-size: pxtoem($font-size-base);
  padding: 0;
  border-color: rgba(0, 0, 0, 0.12);
  //border-bottom: 6px solid $brand-primary;

  li {
    margin: 0;
  }

  > li:last-child {
    border-bottom: 6px solid $brand-primary;
  }

  > li > a,
  > li > label {
    cursor: pointer;
    margin: 0;
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  &-lg > li > a {
    padding: $padding-large-vertical + 1px  $padding-large-horizontal + 4px;
  }

  > li > label {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
    }
  }

  > .active > label {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-active-color;
      text-decoration: none;
      outline: 0;
      background-color: $dropdown-link-active-bg;
    }
  }

  .disabled > label {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-disabled-color;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: transparent;
      background-image: none;
      @include reset-filter;
      cursor: $cursor-disabled;
    }
  }

  .divider {
    margin: 0;
  }

}

.dropdown {

  &-toggle {

    &.btn-gray {
      border-color: $input-border;
      padding-right: $line-height-computed*2;
      position: relative;
      text-align: left;
    }
  }

  &-toggle.btn-gray:hover,
  &-toggle.btn-gray:focus,
  &-toggle.btn-gray:active,
  &-toggle.btn-gray:active:hover,
  &-toggle.btn-gray:active:focus {
    border-color: $border-color;
    color: $btn-default-color;
  }

  &.open > &-toggle.btn-gray,
  &.open > &-toggle.btn-gray:hover,
  &.open > &-toggle.btn-gray:focus {
    background-color: #f7f7f8;
    border-color: $border-color;
    color: $btn-default-color;
  }

  &__icon {
    bottom: 0;
    box-sizing: content-box;
    display: block;
    height: 100%;
    margin: auto;
    padding: 0 $line-height-computed/2;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.open &__icon {
    transform: rotate(180deg);
  }
}
